<div class="jumbotron">
  <h2>欢迎来到易果生鲜后台管理系统！！</h2>
  <p>请慎重操作每一步骤</p>
  <p><a class="btn btn-warning btn-lg" ui-sref="index.main" role="button">进入商品页</a></p>
</div>
<div class="well well-lg">
  <p>系统通知</p>
  <ul class="list-group">
  <li class="list-group-item">1、易果后台系统新版已经上线，欢迎体验新功能！！！！</li>
  <li class="list-group-item">2、欢迎关注github：<a href="www.github.com/htmlk">www.github.com/htmlk</a></li>
  <li class="list-group-item">3、欢迎关注小k博客：<a href="htmlk.cn">htmlk.cn</a></li>
  <li class="list-group-item">4、易果生鲜后台系统正式上线了！！</li>
</ul>
</ul>
</div>
